# ----------------------------
# Node
# ----------------------------
node_modules/

# ----------------------------
# Build Output
# ----------------------------
dist/
build/
.vite/

# ----------------------------
# Environment Files
# ----------------------------
.env
.env.*
!.env.example

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Misc
# ----------------------------
coverage/
.cache/
